// colors
@white      : #fff;
@black      : #000;
@almost-black : #1b1b1b;
@light-grey : #eee;
@med-grey   : #ccc;
@dark-grey  : #aaa;
@red        : #b94a48;
@green      : #468847;
@orange     : #f89406;
@blue       : #3a87ad;
@yellow     : #ffff00;

// padding units
@pad1 : 4px;
@pad2 : (2 * @pad1);
@pad3 : (3 * @pad1);
@pad4 : (4 * @pad1);

// rounded corners
.rounded-corners(@radius: @pad1) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.rounded-top-left(@radius: @pad1) {
	-webkit-border-top-left-radius: @radius;
        -moz-border-radius-topleft: @radius;
	        border-top-left-radius: @radius;
}
.rounded-top-right(@radius: @pad1) {
	-webkit-border-top-right-radius: @radius;
        -moz-border-radius-topright: @radius;
	        border-top-right-radius: @radius;
}
.rounded-bottom-left(@radius: @pad1) {
	-webkit-border-bottom-left-radius: @radius;
        -moz-border-radius-bottomleft: @radius;
	        border-bottom-left-radius: @radius;
}
.rounded-bottom-right(@radius: @pad1) {
    -webkit-border-bottom-right-radius: @radius;
	    -moz-border-radius-bottomright: @radius;
	        border-bottom-right-radius: @radius;
}
.rounded-top(@radius: @pad1) {
	.rounded-top-left(@radius);
	.rounded-top-right(@radius);
}
.rounded-bottom(@radius: @pad1) {
    .rounded-bottom-left(@radius);
    .rounded-bottom-right(@radius);
}
.rounded-left(@radius: @pad1) {
    .rounded-top-left(@radius);
    .rounded-bottom-left(@radius);
}

// linear gradient
.linear-gradient(@start, @end) {
    background: @end;
    background: -moz-linear-gradient(top, @start 0%, @end 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@end));
    background: -webkit-linear-gradient(top, @start 0%, @end 100%);
    background: -o-linear-gradient(top, @start 0%, @end 100%);
    background: -ms-linear-gradient(top, @start 0%, @end 100%);
    background: linear-gradient(top, @start 0%, @end 100%);
}

// transitions
.transition(@attribute, @time, @effect) {
    -webkit-transition: @attribute @time @effect;
       -moz-transition: @attribute @time @effect;
         -o-transition: @attribute @time @effect;
            transition: @attribute @time @effect;
}

// box shadow
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

div#bodyContainer {
    text-align: center;
}
